* {
    box-sizing: border-box;
}

.outer_box {
    max-width: auto;
    border: 3px solid black;
    margin-bottom: 35px;
}

.inner_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box_header {
    text-align: center;
}

/* Color boxes */

.purple {
    background-color: rgb(97, 9, 179);
    color: white;
    width: 275px;
    height: 75px;
    margin: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.red {
    background-color: rgb(196, 6, 6);
    color: white;
    width: 275px;
    height: 75px;
    margin: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.blue {
    background-color: cornflowerblue;
    color: white;
    width: 275px;
    height: 75px;
    margin: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.yellow {
    background-color: rgb(222, 188, 38);
    color: white;
    width: 275px;
    height: 75px;
    margin: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.gray {
    background-color: rgb(88, 86, 86);
    color: white;
    width: 275px;
    height: 75px;
    margin: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.green {
    background-color: rgb(114, 175, 137);
    color: white;
    width: 275px;
    height: 75px;
    margin: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.brown {
    background-color: rgb(122, 36, 36);
    color: white;
    width: 275px;
    height: 75px;
    margin: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.beige {
    background-color: beige;
    color: black;
    width: 275px;
    height: 75px;
    margin: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
}

/* Font boxes */
 
.beir h3{
    font-family: "Beiruti";
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 15px;
}

.beir .regular {
    font-family: "Beiruti";
    font-size: 1.2rem;
}

.beir .bold {
    font-family: "Beiruti";
    font-weight: bold;
    font-size: 1.2rem;
}

.beir .italic {
    font-family: "Beiruti";
    font-style: italic;
    font-size: 1.2rem;
}

.osans h3{
    font-family: "Open Sans";
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 15px;
}

.osans .regular {
    font-family: "Open Sans";
}

.osans .bold {
    font-family: "Open Sans";
    font-weight: bold;
}

.osans .italic {
    font-family: "Open Sans";
    font-style: italic;
}

.els h3{
    font-family: "Elsie";
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 15px;
}

.els .regular {
    font-family: "Elsie";
}

.els .bold {
    font-family: "Elsie";
    font-weight: bold;
}

.els .italic {
    font-family: "Elsie";
    font-style: italic;
}

.rale h3{
    font-family: "Raleway";
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 15px;
}

.rale .regular {
    font-family: "Raleway";
}

.rale .bold {
    font-family: "Raleway";
    font-weight: bold;
}

.rale .italic {
    font-family: "Raleway";
    font-style: italic;
}

/* Transitions Section */

.scale {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scale p {
    font-weight: bold;
}

.scale img:hover {
    transform: scale(1.3);
    transition-duration: 1s;
}

.rotate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rotate p {
    font-weight: bold;
}

.rotate img:hover {
    transform: rotate(0.5turn);
    transition-duration: 1s;
}

.skew {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skew p {
    font-weight: bold;
}

.skew img:hover {
    transform: skew(30deg, 20deg);
    transition-duration: 1s;
}